
html {
    background-color: white;
  }
  
  h1 {
    font-size: 50px;
    color: rgb(122, 117, 117);
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px black;
  }
  
  h2 {
    font-size: 30px;
    color: black;
  }
  
  h3 {
    font-size: 30px;
    color: black;
    text-align: center;
  }
  
  p, li {
    font-size: 24px;
    color:black;
    line-height: 2;
    letter-spacing: 1px;
  }
  
  ul, li {
    font-size: 18px;
    text-align: center;
    list-style: none;
  }
  
  body {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
  }
  
  img {
    display: table;
    margin: 0 auto;
  }
  
  div.container {
    display: table;
    margin: 0 auto;
  }
  
  div.imgContainer {
    display: inline-block;
    margin-left: 15px;
  }
  